<div class="container">
  <div class="row">
    <%= render partial: "shared/user_top" %>

    <ul class="nav nav-tabs">
      <li role="presentation" class="nav-link">
        <%= link_to 'My Post', user_path(@user) %> 
      </li>

      <li role="presentation" class="nav-link">
        <%= link_to 'My Comment', my_comment_user_path(@user) %>
      </li>

      <li role="presentation" class="nav-link">
        <%= link_to 'My Collect', my_collect_user_path(@user) %>
      </li>

      <li role="presentation" class="nav-link active">
        <%= link_to 'My Draft', my_draft_user_path(@user) %>
      </li>

      <li role="presentation" class="nav-link">
        <%= link_to 'My Friend', my_friend_user_path(@user) %>
      </li>
    </ul>
<br />
    <% if @user == current_user %>
      <%= render partial: "shared/user_posts" %>
    <% else %>
      <p>You are not allowed to see drafts</p>
    <% end %>

  </div>
</div>