<div class="container">
  <div class="row">
    <%= render partial: "shared/user_top" %>
    <div class="clearfix"></div>

    <div class="col-xs-10 col-xs-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-link">
          <%= link_to 'My Post', user_path(@user) %> 
        </li>

        <li role="presentation" class="nav-link">
          <%= link_to 'My Comment', my_comment_user_path(@user) %>
        </li>

        <li role="presentation" class="nav-link">
          <%= link_to 'My Collect', my_collect_user_path(@user) %>
        </li>

        <li role="presentation" class="nav-link">
          <%= link_to 'My Draft', my_draft_user_path(@user) %>
        </li>

        <li role="presentation" class="nav-link active">
          <%= link_to 'My Friend', my_friend_user_path(@user) %>
        </li>
      </ul>
  <br />


      <h3>Waiting for response </h3>
      
      <% @user.friend_waiting.each do |user| %>
        <div class="col-xs-4 col-sm-3">
          <%= image_tag user.avatar, class: "img-responsive img-rounded"%>
          <%= link_to user.name, user_path(user) %> 
          <div class="clearfix"></div>
        </div>
      <% end %>
      <div class="clearfix"></div>
  <hr />
      <h3>Friends to be accepted</h3>
      <% @user.friendly_to_accept.each do |user| %>
        <div class="col-xs-4 col-sm-3">
          <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
          <%= link_to user.name, user_path(user) %> 
          <div id="post-friend">
            <%= render partial: "shared/friend", locals: {user: user} %>
          </div> 
        </div>
      <% end %>
      <div class="clearfix"></div>
  <hr />
      <h3>Friended</h3>
      <% @user.friended.each do |user| %>
        <div class="col-xs-4 col-sm-3">
          <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
          <%= link_to user.name, user_path(user) %> 
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>