<div class="container">
  <h2 class="col-xs-8 col-sm-10"><%= @post.title %></h2>
    <div id="collect-btn" class="col-xs-2 col-sm-1">
      <%= render partial: "shared/collect_btn" %>
    </div>
    <div id="comment-btn" class="col-xs-3 col-sm-1">
      <%= link_to 'Comment', post_path(@post, anchor: "comment-form"), class: "btn btn-primary" %>
    </div>

  <!-- Comment btn -->
  <div class="clearfix"></div>
  <div class="col-xs-3">
    <%= link_to user_path(@post.user) do %>
      <div class="col-xs-12">
        <%= image_tag @post.user.avatar, class: "img-responsive img-rounded" %>
      </div>
      <div class="col-xs-6">
        <h4> <%= @post.user.name %> </h4>   
      </div>
    <% end %>
    <div id="post-friend" class="col-xs-6">
      <%= render partial: "shared/friend", locals: {user: @post.user}, class: "pull-right" %>
    </div> 
  </div>
  <div class="col-xs-9">
    <%= image_tag @post.image, style:"width: 90px; height: auto;" %> 
      <p> <%= @post.description %> </p>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-primary"  %>
      <% elsif current_user.admin? %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-primary"  %>            
      <% end %>
  </div>

  <div class="clearfix"></div>
  <h3> Replies: </h3>
  <% @post.replies.each do |reply| %>
    <div class="col-xs-2 col-xs-offset-1">
      <%= link_to user_path(reply.user) do %>
        <div class="col-xs-12">
          <%= image_tag reply.user.avatar, class: "img-responsive img-rounded"  %>
        </div>
        <div class="col-xs-6">
          <h4> <%= reply.user.name %> </h4> 
        </div>
      <% end %>
        <div id="reply-friend" class="col-xs-6">
          <%= render partial: "shared/friend", locals: {user: reply.user} %>
        </div>  
    </div>

    <div class="col-xs-9">
      <p> <%= reply.comment %> </p>
      <% if reply.user == current_user %>
        <%= link_to 'Edit', post_path(@post, reply_id: reply.id, anchor: "comment-form"), class: "btn btn-primary"  %>
        <%= link_to 'Delete', post_reply_path(@post, reply), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-primary"  %>
      <% elsif current_user.admin? %>
        <%= link_to 'Delete', post_reply_path(@post, reply), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-primary"  %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <hr />
  <% end %>

  <div class="text-center">
    <%= paginate @replies %>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group comment-group" id="comment-form">  
      <%= form_for [@post, @reply] do |f|%>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: "add comment", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end%>
    </div>
  </div>
</div>